name: Kryptokrona Main Pipeline

env:
  GITHUB_REGISTRY: 'ghcr.io'
  GITHUB_OWNER: 'kryptokrona'
  GITHUB_DOCKER_IMAGE: 'kryptokrona'

on:
  push:
    branches:
      - munin

jobs:
  clean:
    name: Clean
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2

      - name: Clean
        run: echo "Running Clean..."

  install:
    name: Install Dependencies
    runs-on: ubuntu-22.04
    needs: [ clean ]
    steps:
      - uses: actions/checkout@v2

      - name: Install General
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libssl-dev libffi-dev python3-dev gcc-11 g++-11 git cmake librocksdb-dev cron rpcbind libboost-system1.74.0 libboost-filesystem1.74.0 libboost-thread1.74.0 libboost-date-time1.74.0 libboost-chrono1.74.0 libboost-regex1.74.0 libboost-serialization1.74.0 libboost-program-options1.74.0 libicu70

#  build:
#    name: Build Target
#    runs-on: ubuntu-22.04
#    needs: [ install ]
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Create Build Dir
#        run: mkdir build
#      - name: CMake
#        run: cmake -DCMAKE_CXX_FLAGS="-g0 -Os -fPIC -std=gnu++17" -DBoost_DEBUG=ON -DBoost_ARCHITECTURE=-x64 ..
#        working-directory: build
#      - name: Make
#        run: make -j$(nproc) --ignore-errors
#        working-directory: build

  test:
    name: Tests
    runs-on: ubuntu-22.04
    needs: [ build ]
    steps:
      - uses: actions/checkout@v2

      - name: Static Code Analysis
        run: echo "Running Static Code Analysis..."

      - name: Unit Test
        run: echo "Running Unit Tests..."

      - name: Code Coverage
        run: echo "Running Code Coverage..."

  doxygen:
    name: Doxygen
    runs-on: ubuntu-22.04
    needs: [ test ]
    steps:
    - uses: actions/checkout@v2

    - name: Doxygen
      run: echo "Running Doxygen..."

  docker:
    name: Build and Publish Docker Image
    runs-on: ubuntu-22.04
    needs: [ doxygen ]
    steps:
      - uses: actions/checkout@v2
      - uses: benjlevesque/short-sha@v1.2

      - name: Log into registry ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Docker
        run: |
          docker build -t $GITHUB_REGISTRY/$GITHUB_OWNER/$GITHUB_DOCKER_IMAGE:${{ env.SHA }} .

      - name: Publish Docker
        run: |
          docker push $GITHUB_REGISTRY/$GITHUB_OWNER/$GITHUB_DOCKER_IMAGE:${{ env.SHA }}